body {
    text-align: center;
    background-image: url("https://cdn-images-1.medium.com/max/1920/1*AcYLHh0_ve4TNRi6HLFcPA.jpeg");
    color: white;
    text-shadow: 3px 2px 5px #82c5f3;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
    color: lightblue;
    -webkit-text-stroke: 1px #2692a8;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.popup {
		display: none;
		font-size: 22px;
		position: absolute;
		text-align: left;
    right: 2%;
    top: 30%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.tools{
    height: 20px;
    width: 20px;
}

.eraser-tool-change{
   box-shadow: inset 5px 5px 5px #82c5f3;
}
.picker-tool-change{
   box-shadow: inset 5px 5px 5px #82c5f3;
}
.bucket-tool-change{
   box-shadow: inset 5px 5px 5px #82c5f3;
}
.eraser{
  box-shadow: none;
}
.bucket-tool{
  box-shadow: none;
}
.picker{
  box-shadow: none;
}
